
#This configuration file is used to override the use of the value. yaml variable. You can modify it according to your own needs.
#If you modify the account information inside, it may need to be synchronized in the application file
global:
  # this is your storageClass,Please change in according to the k8s environment settings of your server
  storageClass: "nfs-client"
  imageRegistry: "m.daocloud.io/docker.io"
controller:
  replicaCount: 3
sasl:
  client:
    users:
      - root
    passwords: "proot"


provisioning:
  enabled: true
  numPartitions: 1
  replicationFactor: 1
  topics:
    - name: latestMsgToRedis
      partitions: 1
      replicationFactor: 1
      config:
        max.message.bytes: 64000
        flush.messages: 1
    - name: msgToPush
      partitions: 1
      replicationFactor: 1
      config:
        max.message.bytes: 64000
        flush.messages: 1
    - name: offlineMsgToMongoMysql
      partitions: 1
      replicationFactor: 1
      config:
        max.message.bytes: 64000
        flush.messages: 1

metrics:
  kafka:
    enabled: false
  serviceMonitor:
    enabled: false
    labels:
      release: kube-prometheus-stack