#This configuration file is used to override the use of the value. yaml variable. You can modify it according to your own needs.
#If you modify the account information inside, it may need to be synchronized in the application file
global:
  # this is your storageClass,Please change in according to the k8s environment settings of your server
  storageClass: "nfs-client"
  imageRegistry: "m.daocloud.io/docker.io"
architecture: standalone
replicaCount: 1
auth:
  enabled: true
  rootUser: root
  rootPassword: "openIM123"
  usernames: [openim]
  passwords: [openIM123]
  databases: [openIM_v3]

persistence:
  size: 1Gi

backup:
  enabled: false
  cronjob:
    storage:
      size: 1Gi

metrics:
  enabled: false
  serviceMonitor:
    enabled: false
    labels:
      release: kube-prometheus-stack