* @openimsdk/openim @cubxxw @openimsdk/bot

/infra/                     @openimsdk/openim @cubxxw @openimsdk/bot

/charts/openim-server       @openimsdk/openim @cubxxw @openimsdk/bot
/charts/openim-chat         @openimsdk/openim @cubxxw @openimsdk/bot
/charts/openim-admin        @openimsdk/openim @cubxxw @openimsdk/bot
/charts/openim-web          @openimsdk/openim @cubxxw @openimsdk/bot